<%-include("partiarls/header")-%>
<h1>Home</h1>
<p><%=homeStartingContent%></p>

    <% posts.forEach(function(elem){ %>
        <h2><%=elem.title%></h2>
        <p><%= elem.text.slice(0,100)%>...&nbsp&nbsp<a href="posts/<%=elem.kebab%>">Read more.</a></p>

    <%})%>

<%-include("partiarls/footer")-%>